@page "/"
@inherits AuthenticatedPage

<div class="page-container">
    <h1 class="page-title">Hi, @_userName</h1>
    <div class="content-panel">
        <h2>Your Current Elections</h2>
        @if (_currentElections.Count == 0)
        {
            <p>There are no elections that you can currently vote in.</p>
        }
        else
        {
            <table class="full-width">
                <tr>
                    <th>Name</th>
                    <th>Nation</th>
                    <th>Type</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th></th>
                </tr>
                @foreach (var election in _currentElections)
                {
                    <tr>
                        <td>@election.Name</td>
                        <td>@election.Nation</td>
                        <td>@election.Type</td>
                        <td>@election.StartTime</td>
                        <td>@election.EndTime</td>
                        <td><a href="/vote/@election.Id" class="btn btn-accent" style="margin-inline: auto;">Vote Now</a></td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="content-panel">
        <h2>Your Upcoming Elections</h2>
        @if (_upcomingElections.Count == 0)
        {
            <p>You have upcoming elections...</p>
        }
        else
        {
            <table class="full-width">
                <tr>
                    <th>Name</th>
                    <th>Nation</th>
                    <th>Type</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                @foreach (var election in _upcomingElections)
                {
                    <tr>
                        <td>@election.Name</td>
                        <td>@election.Nation</td>
                        <td>@election.Type</td>
                        <td>@election.StartTime</td>
                        <td>@election.EndTime</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

<Notification Header="@_notification.Header" Message="@_notification.Message" Type="@_notification.Type" Visible="@_notification.Visible" OnVisibleChanged="@(visible => { _notification.Visible = visible; } )"/> 