@page "/login"
@layout BlankLayout

<div class="full-page">
    <div class="form-container">
        <h1 class="text-center">Login</h1>
        <EditForm Model="@_userDetails" class="@_loginStage">
            <label for="nationality">
                Please select your country
                <select id="nationality" @bind="_userDetails.Nationality" @oninput="NationalityUpdated">
                    <option selected disabled></option>
                    @foreach (string culture in _cultureList)
                    {
                        <option>@culture</option>
                    }
                </select>
            </label>
            <label for="uniqueId">
                National Insurance Number *
                <input id="uniqueId" name="uniqueId" type="text" placeholder="E.g. QQ 123456 C" class="@_invalidLoginStyle" @bind-value="_userDetails.NationalIdentifier" @oninput="UniqueIdUpdated"/>
            </label>
            <label>
                Password *
                <input id="password" name="password" type="password" @bind-value="_userDetails.Password" class="@_invalidLoginStyle"/>
            </label>
            <button id="nextBtn" class="btn btn-accent" disabled="@_nextBtnDisabled" @onclick="SignInButton">Login</button>
        </EditForm>
        <p style="text-align: center; padding-top: 1rem;">Need an account? <a href="/signup">Sign-up</a></p>
    </div>
</div>

<Notification Visible="@_notification.Visible" Header="@_notification.Header" Message="@_notification.Message" Type="@_notification.Type" OnVisibleChanged="@(visible => _notification.Visible = visible)"/>